CompileFlags: 
    Add: 
        - -Wall 
        - --std=c++20 
        - -Isource/external 
        - -Isource/external/bigngine/external/Box2D/include/ 
        - -Isource/external/bigngine/external/FreeType/include/ 
        - -Isource/external/bigngine/external/GLFW/include/ 
        - -Isource/external/bigngine/ 
        - -Isource/external/bigngine/behaviours/animation/ 
        - -Isource/external/bigngine/behaviours/collider/ 
        - -Isource/external/bigngine/behaviours/follow/ 
        - -Isource/external/bigngine/behaviours/physics/ 
        - -Isource/external/bigngine/behaviours/physicsStatic/ 
        - -Isource/external/bigngine/behaviours/platformerMovement/ 
        - -Isource/external/bigngine/behaviours/renderer/ 
        - -Isource/external/bigngine/external/Box2D/include/box2d/ 
        - -Isource/external/bigngine/external/Box2D/src/dynamics/ 
        - -Isource/external/bigngine/external/FreeType/include/ 
        - -Isource/external/bigngine/external/FreeType/include/freetype/ 
        - -Isource/external/bigngine/external/FreeType/include/freetype/config/ 
        - -Isource/external/bigngine/external/GLAD/ 
        - -Isource/external/bigngine/external/GLFW/include/GLFW/ 
        - -Isource/external/bigngine/external/STBI/ 
        - -Isource/external/bigngine/global/cursor/ 
        - -Isource/external/bigngine/global/fileSystem/ 
        - -Isource/external/bigngine/global/game/ 
        - -Isource/external/bigngine/global/input/ 
        - -Isource/external/bigngine/global/logger/ 
        - -Isource/external/bigngine/types/behaviour/ 
        - -Isource/external/bigngine/types/entity/ 
        - -Isource/external/bigngine/types/scene/ 
        - -Isource/external/bigngine/types/sound/ 
        - -Isource/external/bigngine/types/texture/ 
        - -Isource/external/bigngine/types/vector2/ 
        - -Isource/external/bigngine/types/vector3/ 
        - -Isource/external/bigngine/../ 
        - -Isource/external/bigngine/behaviours/animation/../ 
        - -Isource/external/bigngine/behaviours/collider/../ 
        - -Isource/external/bigngine/behaviours/follow/../ 
        - -Isource/external/bigngine/behaviours/physics/../ 
        - -Isource/external/bigngine/behaviours/physicsStatic/../ 
        - -Isource/external/bigngine/behaviours/platformerMovement/../ 
        - -Isource/external/bigngine/behaviours/renderer/../ 
        - -Isource/external/bigngine/external/Box2D/include/box2d/../ 
        - -Isource/external/bigngine/external/Box2D/src/dynamics/../ 
        - -Isource/external/bigngine/external/FreeType/include/../ 
        - -Isource/external/bigngine/external/FreeType/include/freetype/../ 
        - -Isource/external/bigngine/external/FreeType/include/freetype/config/../ 
        - -Isource/external/bigngine/external/GLAD/../ 
        - -Isource/external/bigngine/external/GLFW/include/GLFW/../ 
        - -Isource/external/bigngine/external/STBI/../ 
        - -Isource/external/bigngine/global/cursor/../ 
        - -Isource/external/bigngine/global/fileSystem/../ 
        - -Isource/external/bigngine/global/game/../ 
        - -Isource/external/bigngine/global/input/../ 
        - -Isource/external/bigngine/global/logger/../ 
        - -Isource/external/bigngine/types/behaviour/../ 
        - -Isource/external/bigngine/types/entity/../ 
        - -Isource/external/bigngine/types/scene/../ 
        - -Isource/external/bigngine/types/sound/../ 
        - -Isource/external/bigngine/types/texture/../ 
        - -Isource/external/bigngine/types/vector2/../ 
        - -Isource/external/bigngine/types/vector3/../ 
